<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769256963348-aaek83kqo37svhbes6u58d4aaaru5fth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769256963348-aaek83kqo37svhbes6u58d4aaaru5fth</string>
	<key>API_KEY</key>
	<string>AIzaSyARkZrM7OrYDaQQUK_C6pfdPH-u0ii_drQ</string>
	<key>GCM_SENDER_ID</key>
	<string>769256963348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vostore.Love-Movies</string>
	<key>PROJECT_ID</key>
	<string>love-movies---vale</string>
	<key>STORAGE_BUCKET</key>
	<string>love-movies---vale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769256963348:ios:9c75a270d8b8fd07f25601</string>
	<key>DATABASE_URL</key>
	<string>https://love-movies---vale.firebaseio.com</string>
</dict>
</plist>